<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='bs/css/united.min.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
		<div class="row t20">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4 class="lean-h text-black">
			                <center>Order#1001</center>
							</h4>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-hover table-bordered">



									<tr>
										<th>Item Name</th>
										<th>Store</th>
										<th style="width: 10%;">Quantity</th>
										<th style="width: 10%;">Price</th>
									</tr>

								<tbody>
									<tr>
								<td>Tuna Roll</td>
								<td> Koi Sushi </td>
										<td>1</td>
								<td>$14.39</td>

									</tr>
									<tr>
								<td>BLT Sandwich</td>
										<td> The Well </td>
										<td>1</td>
										<td>$11.99</td>

									</tr>

								<tr>
										<td>
										<p class="h4"><b>Total </b></p> <p>(Incl. taxes) </p>
										</td>
									<td>  </td>
																		<td>  </td>

									<td>
									<p class="h4"><b>$30.337</b> </p>
									</td>
							</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>






</body>
</html>