<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skip the line | Vendor</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/bootstrap.css') }}"/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="../static/bs/css/buttonstyle.css">

    <script>
    function autoRefresh() {
        window.location = window.location.href;
    }
    setInterval('autoRefresh()', 10000);
    </script>

    <style>
        .name_table td {
             height: 100px;
            vertical-align: center;
        }
        .check_box td {
             height: 100px;
            vertical-align: center;
        }
    </style>


    <!-- py-script -->
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

    <py-env>
        - pytime
    </py-env>

</head>
<body class="body">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid col-lg-offset-2">
        <a class="navbar-brand" href="/orderlist">Vendor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/orderlist">Current Orders</a>
                    <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vendorEmployee">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vendor_analytics">Analytics</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/vendor_menu">Menu</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/login">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Order table -->
<main>
    <div>
        <div class="panel-default col-md-6">
            <br>
            <h2>Welcome, KoiSushi &#127843;</h2>
            <br>
            <p> Current Orders will be displayed below. Note that you can change, edit, and cancel orders on the action panel, order unpaid will automatically gets cancelled 30 mins after their order placed time. </p>
            <br>
            <h3>Orders</h3>
            <br>
        </div>

        <div class="panel-body col-md-6">
            <h3>Current time:</h3>
            <br>
            <h3 class = "text-bg-info rounded-4 text-center">
            <py-script class="py-title">
                    import datetime
                    (datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
            </py-script>
                </h3>

        </div>
        <div class="table roundedCorners">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th style="width: 27%;">Order Number</th>
                    <th style="width: 5%;">Image</th>
                    <th style="width: 23%;">Item Name</th>
                    <th style="width: 1%;">Complete</th>
                    <th class>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <h3 class = "text-bg-warning rounded-pill text-center">Priority</h3>
                        <h1>X92123</h1>
                        <h4>Jason</h4>
                        <h5>Time ordered: 15:30</h5>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='img/sushi_tuna_roll.jpg') }}" alt="..."
                                    width="100" height="100" class="img-rounded">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='img/miso_soup.jpg') }}" alt="..."
                                    width="100" height="100" class="img-rounded">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='img/edamame.jpg') }}" alt="..."
                                    width="100" height="100" class="img-rounded">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class ="name_table">
                            <tr>
                                <td>
                                    <h3 class="text-bg-primary rounded-pill text-center">Tuna roll</h3>
                                    <h4>Quantity: 2 </h4>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h3 class="text-bg-primary rounded-pill text-center"> Miso soup </h3>
                                    <h4>Quantity: 1 </h4>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h3 class="text-bg-primary rounded-pill text-center ">Edamame</h3>
                                    <h4>Quantity: 1 </h4> <h6> Customer Note: No Seaweed</h6>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class ="check_box">
                            <tr>
                                <td>
                                    <input type="checkbox" id="item" name="item" class="largerCheckbox">
                                    <label for="item"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" id="item" name="item" class="largerCheckbox" >
                                    <label for="item"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" id="item" name="item" class="largerCheckbox">
                                    <label for="item"></label>
                                </td>
                            </tr>
                        </table>
                    </td>
               
                    <td>
                        <a class="btn btn-success">
                             Call to collect
                        </a>
                        <a  type="button" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i> Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>X92124</h1>
                        <h4>Rob</h4>
                        <h5>Time ordered: 15:40</h5>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='img/sushi_tuna_roll.jpg') }}" alt="..."
                                    width="100" height="100" class="img-rounded">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='img/miso_soup.jpg') }}" alt="..."
                                    width="100" height="100" class="img-rounded">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='img/edamame.jpg') }}" alt="..."
                                    width="100" height="100" class="img-rounded">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class ="name_table">
                            <tr>
                                <td>
                                    <h3 class="text-bg-primary rounded-pill text-center">Tuna roll</h3>
                                    <h4>Quantity: 2 </h4> <h6> Customer Note: Extra soy sauce</h6>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h3 class="text-bg-primary rounded-pill text-center"> Miso soup <br> </h3>
                                    <h4>Quantity: 1 </h4>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h3 class="text-bg-primary rounded-pill text-center ">Edamame
                                    </h3>
                                    <h4>Quantity: 1 </h4>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class ="check_box">
                            <tr>
                                <td>
                                    <input type="checkbox" id="item" name="item" class="largerCheckbox">
                                    <label for="item"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" id="item" name="item" class="largerCheckbox">
                                    <label for="item"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" id="item" name="item" class="largerCheckbox">
                                    <label for="item"></label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a class="btn btn-success">
                             Call to collect
                        </a>

                        <a  class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i> Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<!-- jQuery -->
<script src="{{ url_for('static', filename='/bs/js/jquery.min.js') }}"></script>
<!-- Bootstrap JavaScript -->
<script src="{{ url_for('static', filename='/bs/js/bootstrap.min.js') }}"></script>

</body>
</html>